<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jr.brian.mybarber">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBarber"
        tools:targetApi="31">
        <activity
            android:name=".view.activities.appointment.ApptDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.appointment.BookingSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.appointment.TimeSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.barber.BarberServicesActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.barber.BarbersActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.BusinessHoursActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.services.OffersActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.services.BeardStylesActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.services.HairColorsActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.services.OfficialLooksActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.services.HeadMassageActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.services.MassageAndSpaActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.services.HaircutActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.services.ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.home.NotificationsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.activities.home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.activities.StartUpActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>